.workout-happens{
  text-align: center;
  border: 2px solid #2E4057;
  background: #EBF5EE;
  display: inline-block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}
.workout-data{
  list-style: none;
}