.banner{
  padding-top: 3em;
  background:white;
  text-align: center;
  border-bottom: 5px solid black;
  padding-bottom: 2em;
  background:url('../photos/barbell.jpeg')  70% 35%;
  color: whitesmoke;
  
}



.image-1{
  position:absolute;
  left:0;
  top:0;
  width: 10em
}