.nav-bar{
   position: absolute;
   top: 0;
   right: 25px;
   margin: 50px 10px;
   padding: 5px 5px;
   border-radius: 5px;
   background: rgba(75, 219, 87, 0.897)
   
}
.nav-bar li{
    display: inline;
    padding: 10px;
    list-style: none;
}
.nav-bar a{
    text-decoration: none;
    color: aliceblue;
}

.nav-bar a:hover{
    transition: color 0.5s ease;
    color: black;
}

.nav-links{
    position: absolute;
    top: 10px;
    right: 20px;
     float: left;
}

.nav-links li{ 
    display: inline-grid;
    margin: 20px;
    padding: 10px ; 
    background: rgb(81,190,81);
    border-radius: 5px;
    transition: 0.3s;
        color:white;
}
.nav-links li:hover{
    background: rgb(13,105,13);
    
}
.nav-links a {
    margin:0;
    padding: 0;
    text-decoration: none;
}

.logout_link li:hover{
    background: rgb(247,100,100);
}