.nav-bar{
   position: absolute;
   top: 0;
   right: 25px;
   margin: 50px 10px;
   padding: 5px 5px;
   border-radius: 5px;
   background: rgba(75, 219, 87, 0.897)
   
}
.nav-bar li{
    display: inline;
    padding: 10px;
    list-style: none;
}
.nav-bar a{
    text-decoration: none;
    color: aliceblue;
}

.nav-bar a:hover{
    transition: color 0.5s ease;
    color: black;
}