.input-form {
    margin-top: 10px;
    text-align: center;
}
.button-sign {
    padding: 10px 20px;
    width: auto;
    border:none;
    background: rgb(96,165,255);
    color:white;
    border-radius: 5px;
    outline-color: none;
    transition: 0.3s;
}
.button-sign:hover{
    background: rgb(68,68,221);
}

.workout-happens button {
       padding: 10px 20px;
    width: auto;
    border:none;
    background: rgb(255,96,96);
    color:white;
    border-radius: 5px;
    outline-color: none;
    transition: 0.3s; 
}
.workout-happens button:hover {
   background: rgb(181,77,77);
}