.nav{
  float: right;
  z-index: auto;
display: inline-block;
list-style: none;
}
li{
  border-bottom: 2px solid brown;

}
a{
  text-decoration: none;
  color: black
}
a:hover{
  font-size: 2em;
color:lightgreen;
}
