.sign_up_form{
    position: absolute;
    top: 25px;
    left: 25px;
    right: 25px;
    max-width: 700px;
    height: auto;
    margin: 8pc auto;
    border: 2px solid rgba(255, 255, 255, 0.452);
    border-radius: 20px;
    background: rgb(248, 248, 248);
    box-shadow: 2px 1px 10px 5px #88888898;
    
}
.sign_up_page_form {
    text-align: center;
}