.nav__list  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
   background: #1d2b3f91;
  
    & a{
        text-decoration: none;
        font-size: 20px;
        color:#edfffa;
        font-weight: bolder;
        letter-spacing: 1px;
    }
    & li{
        margin: 10px;
        list-style: none;
        
    }
    
}