.nav__list  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
 
  
    & a{
        text-decoration: none;
        font-size: 20px;
        color:black;
        font-weight: bolder;
        letter-spacing: 1px;
        transition: 0.2s ease-in;
        vertical-align: top;
        &::before{
            content: " ";
           
        }
        &:hover{
            color:rgb(171, 238, 144);
            border-bottom: 1px solid rgb(171, 238, 144);;
        }
    }
    & li{
        margin: 10px;
        list-style: none;
        
    }
    
    
}
.loginNav__logout-link{
	transition: ease-in-out 1s;
	&:hover{
	color: rgb(241, 106, 106)!important;
	 border-bottom: 1px solid rgb(241, 106, 106)!important;
	}
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}