.landingPage{
    height: 100vh;
    background: rgba(253,251,251,0.37);
   
    &__banner{
        text-align: center;
        font-size: 55px;
        margin: 0;
        padding: 0;
        width: 300px;
        margin: 5px auto;
        letter-spacing: 10px;
    }
    &__elements{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        @media screen and (max-width:780px) {
            flex-direction: column;
            transform: translateY(300px);
        }
        @media screen and (max-width:380px) {
            flex-direction: column;
            transform: translateY(200px);
        }
    }
    &__info{
       display: flex;
        flex-direction: column;
        margin: 200px 50px;
        padding-left: 25px;
        height:200px;
        width: 400px;
        justify-content: space-evenly;
        
        @media screen and (max-width:780px) {
            margin: 10px auto;
            padding: 0;
            width: 100%;
            height: 0;
            align-items: center;
            color: black;
        }
        h1{
            font-size: 50px;
           width:400px;
            color: rgb(113,112,112);
            @media screen and (max-width:780px) {
                color: black;
                text-align: center;
                background: rgba(128, 128, 128, 0.527);
                border-radius: 50%;
            }
        }
        
        p{
            font-size: 16px;
            
            @media screen and (max-width:780px) {
                
                text-align: center;
            }
        }
    }
}

.svgfile{
    max-width: 100%;
    width: 700px;
    height: auto;
    border-radius: 5% 100% ;
    @media screen and (max-width:780px) {
        width: 100%;
        position: absolute;
        left: 25px;
        z-index: -2;

    }
}
