.SignUpPage{
    width: 100%;
    height: 100vh;
    display: flex;
    
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom, lightgreen,white);
     &__formContainer{
        flex-direction:column;
        align-self: center;
       

     }
    &__info-btn{
        text-align: center;
        p{
            font-weight: bolder;
            font-size: 18px;
        }
    }
}


.sign_up_page_form{
    width: 500px;
    padding: 5em;
    border-radius: 10px;

    
}