.user{
    display: grid;
    grid-template-areas: 
   
    "cal cal  online"
    " . . food"
    " . . food"
    " . . workout";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 50px auto 70px;
    justify-items: center;
    &_cal{
        width: 50%;
        grid-area: cal;
        padding: 5px;
        grid-row: 1 / 2;
        
    }
    &_online{
        grid-area: online;
    }
}

.panel-closed{
    transform: translateX(-2000%);
}
.panel-open{
    transform: translateX(0);
}

