@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif; }

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }
  .nav__list a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bolder;
    letter-spacing: 1px;
    transition: 0.2s ease-in;
    vertical-align: top; }
    .nav__list a::before {
      content: " "; }
    .nav__list a:hover {
      color: #abee90;
      border-bottom: 1px solid #abee90; }
  .nav__list li {
    margin: 10px;
    list-style: none; }

.loginNav__logout-link {
  transition: ease-in-out 1s; }
  .loginNav__logout-link:hover {
    color: #f16a6a !important;
    border-bottom: 1px solid #f16a6a !important; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.landingPage {
  height: 100vh;
  background: rgba(253, 251, 251, 0.37); }
  .landingPage__banner {
    text-align: center;
    font-size: 55px;
    margin: 0;
    padding: 0;
    width: 300px;
    margin: 5px auto;
    letter-spacing: 10px; }
  .landingPage__elements {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
  .landingPage__info {
    display: flex;
    flex-direction: column;
    margin: 200px 50px;
    padding-left: 25px;
    height: 200px;
    width: 400px;
    justify-content: space-evenly; }
    .landingPage__info h1 {
      font-size: 50px;
      width: 400px;
      color: #717070; }
    .landingPage__info p {
      font-size: 16px; }

.svgfile {
  max-width: 100%;
  width: 700px;
  height: auto;
  border-radius: 5% 100%; }

.overlay {
  background: #FF416C;
  background: -webkit-linear-gradient(to right, #bfff2b, #3e751a);
  background: linear-gradient(to right, #DCE35B, #45B649);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  transition: transform 0.6s ease-in-out;
  width: 100%;
  flex: 0 500px;
  justify-items: flex-start;
  align-self: center;
  height: 100vh; }

.overlay-container {
  width: 500%; }

.container.right-panel-active .overlay {
  transform: translateX(50%); }

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 100%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out; }

.overlay-left {
  transform: translateX(-20%); }

.container.right-panel-active .overlay-left {
  transform: translateX(0); }

.overlay-right {
  right: 0;
  transform: translateX(0); }

h1 {
  font-weight: bold;
  margin: 0; }

h2 {
  text-align: center; }

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px; }

span {
  font-size: 12px; }

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0; }

button {
  border-radius: 20px;
  border: 1px solid #DCE35B;
  background-color: #DCE35B;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in; }

button:active {
  transform: scale(0.95); }

button:focus {
  outline: none; }

button.ghost {
  background-color: transparent;
  border-color: #FFFFFF; }

form {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center; }

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%; }

.overlay {
  transform: translatex(0px); }

.form-error {
  color: red;
  animation: error 1s; }

@keyframes error {
  from {
    font-weight: bolder; }
  to {
    font-weight: 600; } }

#username {
  width: 250px; }

#password {
  width: 250px; }

.overlay-right a {
  color: white; }

.loginPage {
  display: flex;
  width: 100%; }
  .loginPage_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
    .loginPage_container .dash-link {
      font-weight: bolder; }

.SignUpPage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right bottom, lightgreen, white); }
  .SignUpPage__formContainer {
    flex-direction: column;
    align-self: center; }
  .SignUpPage__info-btn {
    text-align: center; }
    .SignUpPage__info-btn p {
      font-weight: bolder;
      font-size: 18px; }

.sign_up_page_form {
  width: 500px;
  padding: 5em;
  border-radius: 10px; }

select {
  width: 100%;
  height: 25px;
  border: none;
  background: #f3efef; }

.cal_header {
  text-align: center;
  font-size: 28px;
  margin-bottom: 25px;
  color: #58ab58; }

.button-cal {
  margin-top: 20px;
  font-size: 27px; }

.user {
  display: grid;
  grid-template-areas: "cal cal  online" " . . food" " . . food" " . . workout";
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 50px auto 70px;
  justify-items: center; }
  .user_cal {
    width: 50%;
    grid-area: cal;
    padding: 5px;
    grid-row: 1 / 2; }
  .user_online {
    grid-area: online; }

.panel-closed {
  transform: translateX(-2000%); }

.panel-open {
  transform: translateX(0); }
