@import url("https://fonts.googleapis.com/css?family=Acme");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Acme', sans-serif; }

body {
  background: #7EA1C1; }

/* landing page */
.land-body {
  background: url("./components/photos/weight.jpg");
  background-size: cover;
  min-height: 100vh; }

.welcome-banner {
  text-align: center;
  font-size: 3em; }

.nav-duo li {
  float: right;
  text-decoration: none;
  position: relative;
  max-width: 10%;
  margin: 20px 20px;
  padding: 10px 10px;
  background: #2C827C;
  border-radius: 10px;
  color: white;
  opacity: 0.85; }
  @media screen and (max-width: 320px) {
    .nav-duo li {
      max-width: 40%; } }
  @media screen and (max-width: 1200px) {
    .nav-duo li {
      max-width: 40%; } }
  .nav-duo li:hover {
    opacity: 1; }

.listed-info {
  overflow-y: hidden; }

.changeinList {
  display: inline-axis;
  text-align: center;
  border: 2px solid black;
  background: white;
  border-radius: 20px;
  margin: 5px 5pc;
  padding: 5px 5px;
  min-height: 100px; }

.nav-bar h1 {
  text-align: center;
  font-size: 100px; }

/* The  mobile responsiveness */
