$background-color:#7EA1C1;
$button-colors:#2C827C;
$landing-img:url('./components/photos/weight.jpg');
$break-small: 320px;
$break-large: 1200px;
$break-small-mob:426px;
@mixin transition($x...){
  -webkit-transition: $x;
  -moz-transition: $x;
  -ms-transition: $x;
  -o-transition: $x;
  transition: $x;
}
// @keyframes example {
//   0%   {display: none}
//   25%  {opacity: 0.55}
//   50%  {opacity: 0.70}
//   100% {opacity: 1}
// }
@import url('https://fonts.googleapis.com/css?family=Acme');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Acme', sans-serif;
  }
  
  body {
    background: $background-color;
  }
  /* landing page */
  .land-body{
      background: $landing-img;
      background-size: cover;
      min-height: 100vh
  }
  .welcome-banner{
    text-align: center;
    font-size: 3em;
  }
  .nav-duo li {
    float: right;
    text-decoration: none;
    position: relative;
    max-width: 10%;
    margin:20px 20px;
    padding: 10px 10px;
    background:$button-colors;
    border-radius: 10px;
    color: white;
    opacity: 0.85;
    @media screen and (max-width: $break-small)  {
      max-width: 40%;
      
    }
    @media screen and (max-width: $break-large)  {
      max-width: 40%;
      
    }

    &:hover{
      opacity: 1;
    }

}
.listed-info{
  overflow-y: hidden;
}
.changeinList {
  display: inline-axis;
  text-align: center;
  border: 2px solid black;
  background: white;
  border-radius: 20px;
  margin: 5px 5pc;
  padding: 5px 5px;
  min-height: 100px;
  
}

.box-one{
  animation-name: example;
  animation-duration: 2s;
}
.box-two{
  animation-name: example;
  animation-delay: 1s;
  animation-duration: 2s;
}
.nav-bar h1 {
  text-align: center;
  font-size: 100px;
  @media screen and (max-width:$break-small) {
   font-size: 50px;
  }
}
/* Linked to Different Links */
.banner{
  min-height: 20px;
}
.listed-links{
  float: right;
  margin-right: 20px;
}
.nav-links a {
  text-decoration: none;
}
.nav-links li{
  color: white;
  margin: 5px 5px;
  padding: 10px ;
  border: 2px solid black;
  border-radius: 10px;
  background:$button-colors;
  opacity: 0.85;
  @media screen and (max-width:$break-small-mob) {
    width: 200px;
    margin-right: 80px;
  }
  @media screen and (max-width:$break-small) {
    width: 200px;
    margin-right: 120px;
  }
  &:hover{
    opacity: 1;
  }
}
/* Signing Up List */
#login-button {
  margin-left: 25px;
  border:2px solid #efefef;
  background: #f3f3f3;
  width: 100px
}

.testlogin p {
  margin-bottom: 10px;
  text-align: center;
}
.container > label {
  margin-left: 35px
}
.Register-button {
     margin-left: 25px;
  border:2px solid #efefef;
  background: #f3f3f3;
  width: 100px
}
.signup-banner p {
  margin-bottom: 10px;
}
.signup-banner  {
  color: #595959;
  text-align: center;
  text-decoration: none; 
}
.information {
   color: #595959;
  text-align: center;
  text-decoration: none;
}
.image-1 {
  display: block;
 margin-left: auto;
 margin-right: auto;
 width: 15em;
}

.sign-up {
display: block;
margin: auto;
width: 200px;
border-radius: 20px;
background: #ffffe0;
border: 2px solid black;
 padding: 20px 
 
}

header div {
  display: block;
  position: absolute;
  right:0;
  width: 200px;
  @media screen and (max-width:$break-small-mob) {
    position: relative;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    
  }
}
.bannerform {
  text-align: center;
  margin-bottom: 10px;
}
.calform {
  text-align: center;
  padding: 5px 5px;
  margin-left: auto;
  margin-right: auto;
  border:2px solid black;
  background: #dbdbdc;
  border-radius: 20px;
  max-width: 200px
}



.button-cal {
  font-size: 20px;
  border: none;
  &:hover{
    cursor: pointer;
  }
}

input {
  border-radius: 5px;
  border: none;
  
}
select {
  border-radius: 5px;
  border:none;
}

.workoutForm input{
  padding: 10px ;
  margin: 10px 10px;
  
}

.input-form {
  border-radius: 5px;
}
.button-sign {
  margin-bottom: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  background: #927764;
}
.container {
  text-align: center;
  
}
.container input{
  padding: 10px;
  margin: 10px;
}

/* The  mobile responsiveness */
$break-small: 320px;
$break-small-mob:425px;
$tablet:768px;
$break-large: 1200px;

